/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
}

body{
	/*background-color: skyblue;*/
	background-image:  url("../images/3.jpg")


}
/*targets the element with the class name container*/
.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

/*end container*/
/*targets the html element h1*/
h1{
	/*font-family: 'Staatliches', cursive;*/
	font-family: 'Source Serif Pro', serif;
	/*font-family: 'Barlow Condensed', sans-serif;*/
	color: white;
	background-color: #333333;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	border:solid grey;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 10px;
}
/*end of h1 styling*/
/*start of h2 styling*/
h2{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #333333;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	
}
/*end of h2 styling*/
/*targets the html element with the class attribute bio*/
.bio{
	font-size: 18px;
	line-height: 22px;
	background-color: rgba(51,51,51,0.5);
	color: yellow;
	border-radius: 10px;
}
/*end of bio*/
/*targets the html attribute id with a value me*/
#me{
	height:200px;
	width:210px;
	border-radius: 50%;
	border-width: 5px;
	border-color: grey;
	border-style: solid;
	margin-top: 100px;
	margin-bottom: 35px;
}
/*end of me*/